<!-- {{item.rooms[0].id}} -->
<div class="object_parameters_list _marked">
    <!-- <p class="object_parameters_title">О площадке</p> -->
    <div class="object_parameters_marker_img"></div>
    <p class="object_parameters_item">
        <span class="bold">Тип:</span>
        {{room.type_name}}
        <!-- {% for type in item.restaurant_types %}
            {% if loop.first %}
                {{type.name}}
            {% else %}
                , {{type.name}}
            {% endif %}
        {% endfor %} -->
    </p>


    <!--ВМЕСТИМОСТЬ-->
    <p class="object_parameters_item">
        <span class="bold">Вместимость:</span>
        {{room.capacity}} чел.
    </p>

    <!--СХЕМА ОПЛАТЫ-->
    <p class="object_parameters_item" style="color: blue;">
        <span class="bold">Схема оплаты:</span>
        Только за еду и напитки
        <!-- {{room.rent_only}} -->
    </p>

    <p class="object_parameters_item">
        <span class="bold">Аренда без еды:</span>
        <!-- Нет. -->
        {% if room.rent_only == 1 %}
            да
            {% else %}
            нет
        {% endif %}
    </p>

    <p class="object_parameters_item">
        <span class="bold">Стоимость:</span>
        от {{room.price}} &#8381;/чел.
    </p>

    <p class="object_parameters_item">
        <span class="bold">Светлый зал:</span>
        {% if room.bright_room == 1 %}
            да
            {% else %}
            нет
        {% endif %}
    </p>

    <p class="object_parameters_item">
        <span class="bold">Отдельный вход:</span>
        {% if room.separate_entrance == 1 %}
            да
            {% else %}
            нет
        {% endif %}
    </p>

    <!-- <p class="object_parameters_item">{{item.restaurant_cuisine}} кухня</p>
    
    {% if item.restaurant_parking %}
        <p class="object_parameters_item">Парковочных мест: {{item.restaurant_parking}}</p>
    {% endif %} -->

    <!-- {% if item.restaurant_alcohol in [1,2] or item.restaurant_firework %}
    <div class="object_parameters_list">
        <p class="object_parameters_title">Можно: </p>
        {% if item.restaurant_alcohol in [1,2] %}
            <p class="object_parameters_item">со своим алкоголем</p>
        {% endif %}
        {% if item.restaurant_firework %}
            <p class="object_parameters_item">, запуск фейерверка</p>
        {% endif %}
    </div>
    {% endif %} -->

    <!-- {% if item.restaurant_alcohol in [1,2] or item.restaurant_firework %}
    <div class="object_parameters_list">
        <p class="object_parameters_item">Можно:
            {% if item.restaurant_alcohol in [1,2] %}
                <span>со своим алкоголем</span>
            {% endif %}
            {% if item.restaurant_firework %}
                <span>, запуск фейерверка</span>
            {% endif %}
        </p> -->
        <!-- {% if item.restaurant_alcohol in [1,2] %}
            <p class="object_parameters_item">со своим алкоголем</p>
        {% endif %}
        {% if item.restaurant_firework %}
            <p class="object_parameters_item">, запуск фейерверка</p>
        {% endif %} -->
    <!-- </div>
    {% endif %} -->

    <!-- <br><br>
    <p class="object_parameters_item">restaurant_id: {{item.restaurant_id}}</p>
    <p class="object_parameters_item">restaurant_gorko_id: {{item.restaurant_gorko_id}}</p>
    <p class="object_parameters_item">restaurant_min_capacity: {{item.restaurant_min_capacity}}</p>
    <p class="object_parameters_item">restaurant_max_capacity: {{item.restaurant_max_capacity}}</p>
    <p class="object_parameters_item">restaurant_district: {{item.restaurant_district}}</p>
    <p class="object_parameters_item">restaurant_parent_district: {{item.restaurant_parent_district}}</p>
    <p class="object_parameters_item">restaurant_city_id: {{item.restaurant_city_id}}</p>
    <p class="object_parameters_item">restaurant_alcohol: {{item.restaurant_alcohol}}</p>
    <p class="object_parameters_item">restaurant_firework: {{item.restaurant_firework}}</p>
    <p class="object_parameters_item">restaurant_price: {{item.restaurant_price}}</p>
    <p class="object_parameters_item">restaurant_name: {{item.restaurant_name}}</p>
    <p class="object_parameters_item">restaurant_address: {{item.restaurant_address}}</p>
    <p class="object_parameters_item">restaurant_cover_url: {{item.restaurant_cover_url}}</p>
    <p class="object_parameters_item">restaurant_latitude: {{item.restaurant_latitude}}</p>
    <p class="object_parameters_item">restaurant_longitude: {{item.restaurant_longitude}}</p>
    <p class="object_parameters_item">restaurant_own_alcohol: {{item.restaurant_own_alcohol}}</p>
    <p class="object_parameters_item">restaurant_cuisine: {{item.restaurant_cuisine}}</p>
    <p class="object_parameters_item">restaurant_parking: {{item.restaurant_parking}}</p>
    <p class="object_parameters_item">restaurant_extra_services: {{item.restaurant_extra_services}}</p>
    <p class="object_parameters_item">restaurant_payment: {{item.restaurant_payment}}</p>
    <p class="object_parameters_item">restaurant_special: {{item.restaurant_special}}</p>
    <p class="object_parameters_item">restaurant_phone: {{item.restaurant_phone}}</p>
    <p class="object_parameters_item">restaurant_commission: {{item.restaurant_commission}}</p>

    <br><br>
    <p class="object_parameters_item">Массивы:</p>
    <p class="object_parameters_item">restaurant_types: {{item.restaurant_types}}</p> -->

    <!-- <p class="object_parameters_item">
        {% for key, value in  item.restaurant_images %}
            {{value}}
        {% endfor %}
    </p> -->


    <!-- <p class="object_parameters_item">{{item.restaurant_images.0.0}}</p>
    <p class="object_parameters_item">
        {% for key in  item.restaurant_images %}
            {{key}}
        {% endfor %}
    </p> -->


    <!-- <p class="object_parameters_item">{{item.restaurant_commission}}</p> -->
    <!-- not empty <p class="object_parameters_item">{{item.restaurant_types.0.0}}</p> -->


    <!-- not empty <p class="object_parameters_item">{{item.restaurant_location.0.0}}</p> -->
    <!-- <p class="object_parameters_item">
        {% for key, value in  item.restaurant_location %}
            {{value}}
        {% endfor %}
    </p> -->


    <!-- <p class="object_parameters_item">{{item.restaurant_price}}</p> -->
    <!-- not empty <p class="object_parameters_item">{{item.rooms.0.0}}</p> -->
</div>


<!--<div class="object_parameters_list">
    <p class="object_parameters_title">Залы</p>
    <p class="object_parameters_item">{{item.rooms|length}} зал{{Declension.end_rooms(item.rooms|length)}}: 
        {% for room in item.rooms %}
            {% if loop.first %}
                {{room.capacity}}
            {% else %}
                , {{room.capacity}}
            {% endif %}
        {% endfor %}
        человек</p>
</div>

{% if item.restaurant_alcohol in [1,2] or item.restaurant_firework %}
<div class="object_parameters_list _marked">
    <p class="object_parameters_title">Разрешены</p>
    {% if item.restaurant_alcohol in [1,2] %}
        <p class="object_parameters_item">Свой алкоголь</p>
    {% endif %}
    {% if item.restaurant_firework %}
        <p class="object_parameters_item">Запуск фейерверка</p>
    {% endif %}
</div>
{% endif %}

<div class="object_parameters_list _marked _big_list">
    <p class="object_parameters_title">За дополнительную плату</p>
    <div class="object_parameters_items">
        {% set services = item.restaurant_extra_services|split(',') %}
        {% for service in services %}
            <p class="object_parameters_item">{{service}}</p>
        {% endfor %}
    </div>
</div>

<div class="object_parameters_list">
    <p class="object_parameters_title">Оплата</p>
    <p class="object_parameters_item">Наличными, банковской картой или безналичным способом</p>
</div>

<div class="test">
    <p class="object_parameters_title">
    
    </p>
</div>-->

