<div class="object_parameters_list">
    <div class="object_parameters_wrapper">
        <div class="object_parameters_marker"></div>
        <div class="object_parameters_item">
            Василеостровский район
            <!-- {% for type in item.restaurant_location %}
                {{type.id}}
            {% endfor %} -->
        </div>
    </div>

    <div class="object_parameters_wrapper">
        <div class="object_parameters_marker"></div>
        <div class="object_parameters_item">
            Ст. м. Алабинская
            <!-- {{item.restaurant_district}} -->
        </div>
    </div>
    
    <div class="object_parameters_wrapper">
        <div class="object_parameters_marker"></div>
        <div class="object_parameters_item">
            2 зала: 22, 60 чел.
                <!-- {% if item.rooms|length == 1 %}
                    {{item.rooms|length}} зал:
                    {% for room in item.rooms %}
                        {% if loop.first %}
                            {{room.capacity}}
                        {% else %}
                            , {{room.capacity}}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if ((item.rooms|length > 1) and not (item.rooms|length > 5)) %}
                    {{item.rooms|length}} зала:
                    {% for room in item.rooms %}
                        {% if loop.first %}
                            {{room.capacity}}
                        {% else %}
                            , {{room.capacity}}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if item.rooms|length > 5 %}
                    {{item.rooms|length}} залов:
                    {% for room in item.rooms %}
                        {% if loop.first %}
                            {{room.capacity ~ ','}}
                        {% else %}
                            , {{room.capacity}}
                        {% endif %}
                    {% endfor %}
                {% endif %}  чел. -->
        </div>
    </div>

    <div class="object_parameters_wrapper">
        <div class="object_parameters_marker"></div>
        <div class="object_parameters_item">
            Чек от 5500 Р/чел.
            <!-- Чек от
            {% set lowestPrice = 10000 %}
            {% for room in item.rooms %}
                {% if room.price < lowestPrice %}
                    {% set lowestPrice = room.price %}
                {% endif %}
            {% endfor %}
            {{lowestPrice}} Р/чел. -->
        </div>
    </div>

    <div class="object_parameters_wrapper">
        <div class="object_parameters_marker"></div>
        <p class="object_parameters_item">
            Около реки, в центре города.
        </p>
    </div>

    <div class="object_parameters_wrapper">
        <div class="object_parameters_marker"></div>
        <div class="object_parameters_item">
            Фотограф, торт, Dj, живая музыка, ведущий — за доп. плату
            <!-- {{ item.restaurant_extra_services }} - за доп.плату -->
        </div>
    </div>

    <div class="object_parameters_wrapper">
        <div class="object_parameters_marker"></div>
        <div class="object_parameters_item">
            Музыкальное оборудование, Велком зона, Wi-Fi / интернет, Сцена — на территории площадки
            <!-- {{ item.restaurant_special }} -->
        </div>
    </div>

    <div class="object_parameters_wrapper">
        <div class="object_parameters_marker"></div>
        <div class="object_parameters_item">
            Можно: со своим алкоголем, со своей едой, запустить фейерверк
            <!-- {% for type in item.restaurant_types %}
                {% if loop.first %}
                    {{type.name}}
                {% else %}
                    , {{type.name}}
                {% endif %}
            {% endfor %} -->
        </div>
    </div>

</div>
