{# <div class="breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">

	{% for breadcrumb in breadcrumbs.crumbs %}
		{% if breadcrumb.type == 'slices' %}

			<div class="breadcrumbs_item breadcrumbs_item_type">
				<a href="{{breadcrumb.link}}" itemprop="item">
					<span itemprop="name">{{breadcrumb.name}}</span>
					<meta itemprop="position" content="{{ loop.index }}"/>
				</a>
			</div>
		{% elseif loop.last %}

			<div class="breadcrumbs_item _last">
				<a href="{{breadcrumb.link}}" itemprop="item">
					<span itemprop="name">{{breadcrumb.name}}</span>
					<meta itemprop="position" content="{{ loop.index }}"/>
				</a>
			</div>

		{% else %}

			<div class="breadcrumbs_item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
				<a href="{{breadcrumb.link}}" itemprop="item">
					<span itemprop="name">{{breadcrumb.name}}</span>
					<meta itemprop="position" content="{{ loop.index }}"/>
				</a>
			</div>
		{% endif %}
	{% endfor %}
</div> #}