<div class="breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">

	{% for breadcrumb in breadcrumbs.crumbs %}
		{% if breadcrumb.type == 'slices' and loop.last %}
			<div class="breadcrumbs_item breadcrumbs_item_type _last">
				<a href="{{breadcrumb.link}}" itemprop="item">
					<span itemprop="name">{{breadcrumb.name}}</span>
					<meta itemprop="position" content="{{ loop.index }}"/>
				</a>
			</div>
		{% elseif breadcrumb.type == 'slices' %}
			<div class="breadcrumbs_item breadcrumbs_item_type">
				<a href="{{breadcrumb.link}}" itemprop="item">
					<span itemprop="name">{{breadcrumb.name}}</span>
					<meta itemprop="position" content="{{ loop.index }}"/>
				</a>
			</div>
		{% elseif breadcrumbs.crumbs|length > 1 and loop.last %}
			<div class="breadcrumbs_item _last">
				{# <span>{{breadcrumb.name}}</span> #}
				<a href="{{breadcrumb.link}}" itemprop="item">
					<span itemprop="name">{{breadcrumb.name}}</span>
					<meta itemprop="position" content="{{ loop.index }}"/>
				</a>
			</div>
		{% else %}
			<div class="breadcrumbs_item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
				<a href="{{breadcrumb.link}}" itemprop="item">
					<span itemprop="name">{{breadcrumb.name}}</span>
					<meta itemprop="position" content="{{ loop.index }}"/>
				</a>
			</div>
		{% endif %}
	{% endfor %}
</div>














{# <div class="breadcrumbs">

	{% for link,name in seo.breadcrumbs %}


		{% if loop.index == 2 %}

			<div class="breadcrumbs_slices_container">

				<div class="breadcrumbs_current_slice">

					<a class="breadcrumbs_item" href="{{link}}">{{name}}</a>

					<div class="arrow"></div>

				</div>

				<div class="breadcrumbs_slices_list _hide">

					<a class="breadcrumbs_item_wrapper"  href="/ploshhadki/banketnye-zaly/">
						<span class="breadcrumbs_item">Банкетные залы</span>
					</a>
					<a class="breadcrumbs_item_wrapper"  href="/ploshhadki/restorany/">
						<span class="breadcrumbs_item">Рестораны</span>
					</a>
					<a class="breadcrumbs_item_wrapper"  href="/ploshhadki/kafe/">
						<span class="breadcrumbs_item">Кафе</span>
					</a>
					<a class="breadcrumbs_item_wrapper"  href="/ploshhadki/kluby/">
						<span class="breadcrumbs_item">Клубы</span>
					</a>
					<a class="breadcrumbs_item_wrapper"  href="/ploshhadki/bary/">
						<span class="breadcrumbs_item">Бары</span>
					</a>
					<a class="breadcrumbs_item_wrapper"  href="/ploshhadki/v-gorode/">
						<span class="breadcrumbs_item">В городе</span>
					</a>
					<a class="breadcrumbs_item_wrapper"  href="/ploshhadki/na-prirode/">
						<span class="breadcrumbs_item">На природе</span>
					</a>

				</div>

			</div>

		{% else %}

			<a class="breadcrumbs_item" href="{{link}}">{{name}}</a>

		{% endif %}

	{% endfor %}

</div>

<div class="title">

	<h1>{{seo.h1}}</h1>
	<div class="title_count">{{count}} ресторан{{Declension.end_restaurants(count)}}</div>

</div> #}