<div class="item_page_wrapper" data-page-type="item">

    <div class="content_block" data-listing-title>
        {{ this.render('//components/generic/item_title.twig', {'seo':seo}) | raw }}
    </div>

    <div class="top_slider_wrapper">
        <div class="top_slider">
            <div class="swiper-container swiper_top">

                <div class="swiper-wrapper">

                    {% for image in item.restaurant_images %}
                        <div class="swiper-slide">
                            <img src="{{image.subpath}}=w710-h472-n-l95" alt="Фото №{{loop.index}} зала {{item.restaurant_name}}"/>
                        </div>
                    {% endfor %}

                </div>

                {{ this.render('//components/generic/restaurant_title.twig', {'seo':seo}) | raw }}

                <div class="top-swiper-button-prev"></div>
                <div class="top-swiper-button-next"></div>
                <div class="top-swiper-pagination swiper-pagination"></div>


            </div>

        </div>
    </div>

    <div class="content_block1 white" data-page-type="item">
        <div class="object_head1 flex">

            <div class="object_parameters">

                {{ this.render('//components/generic/item_parameter_list.twig', {'item':item}) | raw }}
                
            </div>

            <div class="column_2"></div>

            <div class="column_3">

                {# <div class="object_benefit">
                    <div class="object_benefit_img"></div>
                    <div class="object_benefit_text">Получи подарок за бронь!</div>

                </div> #}

                {% if item.id > 50 %}
                    <div class="object_benefit">
                        <div class="object_benefit_img"></div>
                        <div class="object_benefit_text">Получи подарок за бронь!</div>
                    </div>
                {% else %}
                    <div class="object_reservation">
                        <div class="object_reservation_img"></div>
                        <div class="object_reservation_text">Успей забронировать!</div>
                    </div>
                {% endif %}
                
                <div class="object_book1">

                        <p class="object_book_text">Телефон</p>
                        <div class="object_book_hidden">

                            <p class="object_book_phone">

                                <span class="object_fake_phone">+7 <span class="object_fake_phone_snowflakes">(xxx) xxx-xx-xx</span></span>
                                <a href="tel:{{item.restaurant_phone}}" class="object_real_phone">{{item.restaurant_phone}}</a>

                            </p>

                            <div class="object_book_hidden_button _link1" data-action="show_phone">Показать телефон</div>
                                                    
                        </div>

                </div>

                <div class="object_reserve">
                    <div class="object_reserve_img"></div>
                    <div class="object_reserve_text">Забронировать</div>

                </div>

            </div>

        </div>
    </div>

    <div class="content_wrapper">

        <div class="content_block1" data-page-type="item">

            <div class="object_header">Залы</div>

            {% for room in item.rooms %}
            <div class="object_head1 room">

                <div class="object_column">

                    <div class="object_column_header">
                        {{ this.render('//components/generic/room_title.twig', {'room':room}) | raw }}
                    </div>

                    {# <div class="object_benefit">
                        <div class="object_benefit_img"></div>
                        <div class="object_benefit_text">Получи подарок за бронь!</div>
                    </div> #}

                    {% if room.id > 50 %}
                        <div class="object_benefit">
                            <div class="object_benefit_img"></div>
                            <div class="object_benefit_text">Получи подарок за бронь!</div>
                        </div>
                    {% else %}
                        <div class="object_reservation">
                            <div class="object_reservation_img"></div>
                            <div class="object_reservation_text">Успей забронировать!</div>
                        </div>
                    {% endif %}

                    <div class="object_parameters">

                        {{ this.render('//components/generic/room_parameter_list.twig', {'room':room}) | raw }}
                        
                    </div>

                    <div class="object_reserve">
                        <div class="object_reserve_img"></div>
                        <div class="object_reserve_text">Забронировать</div>

                    </div>

                </div>

                <div class="object_gallery1" data-gallery data-id="{{room.restaurant_id}}">

                    <div class="swiper-container gallery-top">

                        <div class="swiper-wrapper">

                            {% for image in room.images %}
                                <div class="swiper-slide">
                                    <a href="{{image.waterpath}}=s0" data-lightbox="top_slider"><img src="{{image.subpath}}=w710-h472-n-l95" alt="Фото №{{loop.index}} зала {{item.restaurant_name}}"/></a>
                                </div>
                            {% endfor %}

                        </div>

                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                        <div class="middle-swiper-pagination swiper-pagination"></div>
                        

                    </div>

                    <div class="swiper-container gallery-thumbs">

                        <div class="first_slide_gradient _hide"></div>
                        <div class="swiper-wrapper">
                            {% for image in room.images %}
                                <div class="swiper-slide object_thumb">
                                    <img src="{{image.subpath}}=w138-h92-n-l95" alt="Фото №{{loop.index}} зала {{item.restaurant_name}}"/>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="last_slide_gradient"></div>

                    </div>

                </div>

            </div>
            {% endfor %}
        </div>

    </div>
    
    <div class="map">
        <div id="map" data-mapDotX="{{item.restaurant_latitude}}" data-mapDotY="{{item.restaurant_longitude}}" data-name="{{item.restaurant_name}}" data-address="{{item.restaurant_address}}" data-image="{{item.restaurant_cover_url}}" data-capacity="{{item.restaurant_max_capacity}}" data-lowest-price="{% set lowestPrice = item.restaurant_price %}{% for room in item.rooms %}{% if room.price < lowestPrice %}{% set lowestPrice = room.price %}{% endif %}{% endfor %}{{lowestPrice}}" data-balloon="" data-hint="">
        </div>
    </div>

    <div class="content_block form_booking_wrapper">

        {{ this.render('//components/generic/form_booking1.twig', {'items':other_rooms}) | raw }}

    </div>

    <div class="another_restaurants">
        <div class="another_restaurants_header">Похожие площадки</div>
        <div class="another_restaurants_container">
            {% for i in 1..2 %}
                <div class="another_restaurants_column">
                    {{ this.render('//components/generic/another_restaurants.twig', {'item':item}) | raw }}
                </div>
            {% endfor %}
        </div>
    </div>

</div>