<div data-page-type="listing">

	<div class="content_block" data-listing-title>
        {{ this.render('//components/generic/item_title.twig', {'seo':seo}) | raw }}
    </div>

	<div class="content_block listing_paragraph">

		{{ this.render('//components/generic/listing_title.twig', {'count':count, 'seo':seo}) | raw }}
		
	</div>

	<div class="show_filter_button">
		<p>Фильтр заведений</p>
	</div>

	<div class="listing_and_filter_wrapper">

		<div class="filter_wrapper">
			{{filter | raw }}
		</div>

		<div class="items_list_listing" data-listing-wrapper>
			<div class="items_list" data-listing-list>

				{{ this.render('//components/generic/listing.twig', {'items':items, 'img_alt':seo.img_alt}) | raw }}

			</div>
		</div>
	</div>

	<div class="content_block"> 
		<div data-pagination-wrapper>
			{{pagination | raw }}
		</div>
	</div>

	<div class="content_block map listing" data-map-api-subid="{{ subid }}"></div>


	<div class="content_block listing_paragraph" data-listing-text-bottom>
		<div class="seo_text" data-seo-text>
			{{seo.text_bottom | raw }}
			<div class="seo_text_control" data-seo-control>
				<p class="_link">Показать полностью</p>
			</div>
		</div>
	</div>

	<div class="content_block form_booking_wrapper">

        {{ this.render('//components/generic/form_booking1.twig', {'items':other_rooms}) | raw }}

    </div>

	<div class="content_loading"></div>
</div>