{{this.registerMetaTag({'property':'og:image','content':'https://vypusknoy-vecher.ru/image/slider_pic_01.jpg'})}}
{{this.registerMetaTag({'property':'og:image:width','content':'1200'})}}
{{this.registerMetaTag({'property':'vk:image','content':'https://vypusknoy-vecher.ru/image/slider_pic_01.jpg'})}}
{{this.registerMetaTag({'property':'vk:image:width','content':'510'})}}
{{this.registerMetaTag({'property':'fb:image','content':'https://vypusknoy-vecher.ru/image/slider_pic_01.jpg'})}}
{{this.registerMetaTag({'property':'fb:image:width','content':'600'})}}
<div data-page-type="index">
	<div class="top_slider_wrapper">
		<div class="top_slider">
				<div class="swiper-container swiper_top">
					<div class="swiper-wrapper">

						<div class="swiper-slide">
							<img src="/image/slider_pic_04.jpg" alt=""/>
						</div>
						<div class="swiper-slide">
							<img src="/image/slider_pic_01.jpg" alt=""/>
						</div>
						<div class="swiper-slide">
							<img src="/image/slider_pic_02.jpg" alt=""/>
						</div>
						<div class="swiper-slide">
							<img src="/image/slider_pic_03.jpg" alt=""/>
						</div>

					</div>
					<div class="top-swiper-button-prev"></div>
					<div class="top-swiper-button-next"></div>
					<div class="top-swiper-pagination swiper-pagination"></div>
				</div>
		</div>

		<div class="content_block" data-listing-title>
			<div class="title">
				{% if seo.h1 != '' %}
					<h1>{{seo.h1}}</h1>
				{% endif %}
			
				{% if seo.text_top != '' %}
					<div class="title_desc">
						<p>Где отметить выпускной в {{next_year}} году? В нашем каталоге вы можете легко подобрать и заказать площадку для проведения выпускного вечера 11 и 9 классов в {{city_dec}}.</p>
						<p>Полный список предложений лучших площадок вашего города.</p>
					</div>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="show_filter_button">
		<p>Фильтр заведений</p>
	</div>

	<div class="listing_and_filter_wrapper">

		<div class="filter_wrapper">
			{{filter | raw }}
		</div>

		<div class="items_list_listing" data-listing-wrapper>
			<div class="items_list" data-listing-list>
				{{ this.render('//components/generic/listing.twig', {'items':items, 'img_alt':seo.img_alt}) | raw }}
			</div>
		</div>

	</div>

	<div class="button_full_catalog_wrap">
		<a href="/catalog/" class="button_full_catalog _button">Полный каталог площадок</a>
	</div>

	{% if random_seo_text != '' %}
		<div class="content_block seo_text_wrapper" data-listing-text-top>
			<div class="seo_text" data-seo-text>
				{# {{random_seo_text[0] | raw}} #}
				{{random_seo_text|raw}}
				<div class="seo_text_control" data-seo-control>
					<p class="_link_blue">Читать полностью</p>
				</div>
			</div>
		</div>
	{% endif %}

	<div class="content_block form_booking_wrapper">
		{{ this.render('//components/generic/form_booking1.twig', {'items':other_rooms, 'city_dec':city_dec, 'next_year':next_year}) | raw }}
	</div>
	<div class="content_block form_booking_wrapper form_booking_popup _hide">
		{{ this.render('//components/generic/form_booking_header.twig', {'items':other_rooms, 'city_dec':city_dec, 'next_year':next_year}) | raw }}
	</div>

	<div class="content_block form_booking_wrapper form_booking_popup_reserve _hide">
		{{ this.render('//components/generic/form_booking_item_reserve.twig', {'venue_id':items[0].restaurant_gorko_id, 'restaurant_name':items[0].restaurant_name}) | raw }}
	</div>

	{# <div class="content_block">
		<div class="nav_arrows _hide">
			<div class="nav_arrow nav_arrow_up">
				<img src="/image/arrow_up.svg">
			</div>
			<div class="nav_arrow nav_arrow_down">
				<img src="/image/arrow_up.svg">
			</div>
		</div>
	</div> #}

</div>