{{this.registerMetaTag({'property':'og:image','content':'https://vypusknoy-vecher.ru' ~ post.getFileData("image").src})}}
{{this.registerMetaTag({'property':'og:image:width','content':'1200'})}}
{{this.registerMetaTag({'property':'vk:image','content':'https://vypusknoy-vecher.ru' ~ post.getFileData("image").src})}}
{{this.registerMetaTag({'property':'vk:image:width','content':'510'})}}
{{this.registerMetaTag({'property':'fb:image','content':'https://vypusknoy-vecher.ru' ~ post.getFileData("image").src})}}
{{this.registerMetaTag({'property':'fb:image:width','content':'600'})}}
<div data-page-type="post">

	<div class="content_block" data-listing-title>
		{# {{ this.render('//components/generic/item_title.twig', {'seo':seo, 'breadcrumbs':seo.breadcrumbs}) | raw }} #}
		{{ this.render('//components/generic/title.twig', {'seo':seo, 'breadcrumbs':breadcrumbs}) | raw }}
	</div>

	{# <a class="post back_to_blog_list" href="/blog/">Выпускной вечер 2020 &#8594; Блог</a> #}

	<h1>{{ post.name}}</h1>
	
	<img class="blog_post_img" src="{{ post.getFileData('image').src }}" alt="{{seo.media['header-image']|first.alt}}">

	<div class="comments" style="display: none;">
		<figure></figure>
	</div>
	
	<div class="post_wrapper">

		{{ preview ? post.getBodyHtml()|raw : post.getHtml()|raw }}

		<div class="another_posts">
			<p class="another_posts_header">Возможно будет интересно</p>
			<div class="another_posts_row">
				{% for similarPost in similarPosts %}
					{# <a href="{{ similarPost.getUrl() }}" class="another_posts_link"> #}
					<a href="/ideas/{{ similarPost.alias }}" class="another_posts_link">
						<img class="another_posts_img" src="{{ similarPost.getFileData('image').src }}" alt="blog article image">
						<p>{{ similarPost.name }}</p>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>

	{# <div class="content_block form_booking_wrapper">
		{{ this.render('//components/generic/form_booking1.twig', {'items':other_rooms, 'city_dec':city_dec}) | raw }}
	</div> #}

	<div class="content_block form_booking_wrapper form_booking_popup _hide">
		{{ this.render('//components/generic/form_booking_header.twig', {'items':other_rooms, 'city_dec':city_dec}) | raw }}
	</div>
</div>

